<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">

    <!-- datatables CSS, CDN -->    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.css"/>

    <title>User Admin</title>
</head>
<body>

    {{!-- {{> navbar}} --}}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">DAMWIDI Investments</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {{#if isMember}}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Intraday</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sector Allocation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Trade History</a>
                    </li>
                {{/if}}
                <li class="nav-item">
                    <a class="nav-link" href="#">Earnings Today</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown">Charts</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03">
                        {{#if isMember}}
                            <a class="dropdown-item" href="#">Sector-Timeframe</a>
                        {{/if}}
                        <a class="dropdown-item" href="#">Above-Below</a>
                        <a class="dropdown-item" href="#">Technical</a>
                        {{#if isEnabled}}
                            <a class="dropdown-item" href="#">You are an admin</a>
                        {{/if}}
                    </div>
                </li>                
            </ul>
            
            <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap mr-5">
                {{#if isAdmin}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/sectors/list">Sectors</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/users/listusers">List Users</a>
                            <a class="dropdown-item" href="/logs">Users Log</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">S&P 500 Companies</a>
                            <a class="dropdown-item" href="#">Basket Data</a>
                            <a class="dropdown-item" href="#">Performance</a>
                            <a class="dropdown-item" href="#">Unstick Log</a>
                            {{#if isEnabled}}
                                <a class="dropdown-item" href="#">You are an admin</a>
                            {{/if}}
                        </div>
                    </li>
                {{/if}}

                {{#if isAuthenticated}}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout">Logout: {{name}}</a>
                    </li>
                {{/if}}
            </ul>
            

        </div>
    </nav>
    
    <div class="container">
        {{{body}}}
    </div>

    <!-- JS -->
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    
     <!-- bootstrap: Latest compiled and minified JavaScript with popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- datatables  -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.js"></script>

    <!-- moment-timezone.js: Parse and display moments in any timezone. -->
    <script src=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>

    {{!-- <script src="/js/main.js"></script> --}}
    {{!-- <script src="/js/main-log.js"></script> --}}

    <!-- app scripts -->
    {{#each scripts}}
        <script src="{{script}}"></script>
    {{/each}}
</body>
</html>