<div class="title-wrap">
    <div class="header">
        <nav>
            <ul>
                <li>
                    <a href="/users/login">Login</a>
                </li>
                <li>
                    <a href="/users/register">Register</a>
                </li>
            </ul>
        </nav>
    </div>
    <h1 class="title-wrap-h1">DAMWIDI Investments!</h1>
</div>

