<div class="title-wrap">
    <div class="header">
        <nav>
            <ul>
                <li>
                    <a href="/">DAMWIDI Investments</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row mt-5 title-wrap">
        <div class="col-md-6 m-auto">
            <div class="card card-body border-secondary card-shadow">
                <h1 class="text-center mb-3"> <i class="fas fa-user-plus"></i> Register </h1>

                {{> messages}}

                <form action="/users/register" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type        = "name" 
                            id          = "name" 
                            name        = "name" 
                            class       = "form-control" 
                            placeholder = "Enter Name"
                            value       = "{{iif name "typeof field != 'undefined'" name ''}}" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type        = "email" 
                            id          = "email" 
                            name        = "email" 
                            class       = "form-control" 
                            placeholder = "Enter Email"
                            value       = "{{iif email "typeof field != 'undefined'" email ''}}" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type        = "password" 
                            id          = "password" 
                            name        = "password" 
                            class       = "form-control"
                            placeholder = "Create Password" 
                            value       = "{{iif password "typeof field != 'undefined'" password ''}}" />
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input type        = "password" 
                            id          = "password2" 
                            name        = "password2" 
                            class       = "form-control"
                            placeholder = "Confirm Password"
                            value       = "{{iif password2 "typeof field != 'undefined'" password2 ''}}" />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Register
                    </button>
                </form>
                <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
            </div>
        </div>
    </div>
</div>