<h3 class="text-center">User Log</h3>

<div class="col-sm-8 m-auto">
    <table class="table table-sm table-bordered" id="datatable">
        <thead>
            <tr class="thead-light">
                <th class="text-center">Type</th>
                <th class="text-center">When</th>
                <th class="text-left">Name</th>
            </tr>
        </thead>
    </table>
</div>